<!-- <!DOCTYPE html> -->
<html>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--<link type="text/css" rel="stylesheet" href="/static/materialize/css/css"/>-->
    <link href="/static/materialize/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/materialize/css/materialize-font.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Custome CSS-->    
    <link href="/static/materialize/css/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>

 <head>
    
  	<title>Aman Learning </title>
</head>
<body>
<a class="btn-floating btn-large waves-effect waves-light red" ><i class="material-icons">add</i></a>

<a class="waves-effect waves-light btn " id="btn1">button</a>

<script type="text/javascript">
$('#btn1').click(function (){
    alert("hide-on-med-and-dow");
  $.ajax({
        type : "GET",
        url : "{% url 'feedback_list' %}",
        data : {
          
        },
        success: function(HTMLData){
            $('#main_container').html(HTMLData);
        }
    });
});
</script>

<div class="container" id ="main_container">
</div>
</body>

</html>