<html>


<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
<link href="/static/materialize/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/static/materialize/css/materialize-font.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/static/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>

<head>

	<style type="text/css">

	.navbar-fixed nav {
    position: fixed;
    height: inherit;
}


.tabs .tab a {
    color: #7FB069;


}

.tabs .tab a:hover {
    color: #7FB069;
}

.tabs .indicator {
    
    background-color: #7FB069;
    width: 2px;
    
}
</style>


<script type="text/javascript">




</script>

<div class="navbar-fixed " style="height:80px">		
	<nav>
	    <div class="nav-wrapper" style="background-color: #7FB069;">
	        <a href="#" class="brand-logo"><img src="/media/pic/logo.png" alt="logo" style="height:90px;"/></a>
	    </div>
	</nav>
</div>

</head>
<body>


<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a href="#stories">Stories</a></li>
        <li class="tab col s4"><a href="#feedback">Feedback</a></li>
        <li class="tab col s4"><a href="#joinus">Join Us</a></li>
      </ul>
    </div>
    <div id="stories" class="col s12"> Stories Here </div>
    <div id="feedback" class="col s12">Feed back</div>
    <div id="joinus" class="col s12">Join Us</div>
  </div>




</body>
</html>